body{
  background-color: rgb(200, 171, 255);
  margin: auto;
  padding: 0;
  height: 3000px;
}
header{
  background-color: rgb(255, 0, 0);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}
nav img {
  height: 56px;
}
.navbar{
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
}
.navbar a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  border-radius: 10px;
}

.navbar-text{
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.2s ease-in-out;
}
.navbar-text:hover{
  background-color: white;
}
.navbar :nth-child(6){
  margin-left: auto;
}
.fa-bars, .fa-shopping-cart{
  font-size: 40px;
  padding-top: 5px;
}
.fa-times{
  font-size: 50px;
}
.navbar-icon{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.navbar-icon:hover{
  color: white;
}
.dropdown{
  position: absolute;
  padding: 30px;
  background-color: black;
  right: 15px;
  top: 86px;
  transition: .2s;
}
.dropdown a{
  font-size: 20px;
  display: block;
  color: white;
  margin-top: 5px;

}
.dropdown a:hover{
  text-decoration: underline;
}

main{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;

}
.hovedbilde{
  width: 90%;
  margin: auto;
  margin-top: 90px;
}
.hovedbilde img{
  width: 1080px;
}
.bildetekst{
  font-size: 80px;
  position: absolute;
  color: rgb(255, 0, 0);
  text-transform: uppercase;
  background-image: linear-gradient(white, lightblue);
  text-align: center;
  margin-top: 160px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 820px;
}
.hidden{
  visibility: hidden;
  transition: .2s ease-out;
  top: -200px;
}
