@media (max-width: 1200px){
  main{
    width: 800px;
  }
  .hovedbilde{
    width: 100%;
  }
  .hovedbilde img{
    width: 800px;
  }
  .bildetekst{
    margin-top: 120px;
    font-size: 40px;
    width: 460px;
  }
  .footerlink{
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
    justify-content: center;
  }
  .linkbutton-left{
    visibility: visible;
    position: relative;
    top: 0;
    background-color: white;
  }
  .linkbutton-right{
    visibility: hidden;
    position: absolute;
    top: -200px;
  }
  .produkt2 h1{
    font-size: 25px;
  }
  .produkt2 h2{
    font-size: 20px;
  }
  .produkt2 h3{
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .navbar-notext{
    visibility: hidden;
    position: absolute;
    top: -300px;
  }
  .navbar-noicon{
    margin-left: auto;
  }
  main{
    width: 500px;
  }
  .hovedbilde img{
    width: 500px;
  }
  .bildetekst{
    margin-top: 80px;
    font-size: 26px;
    width: 260px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .link{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .produktinfo{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 15px;
    width: 90%;
  }
  .produkt2 h1{
    font-size: 20px;
  }
  .produkt2 h2{
    font-size: 16px;
  }
  .produkt2 h3{
    font-size: 16px;
  }
  .navigation{
    top: 260px;
  }
  .bar{
    width: 30px;
    height: 30px;
  }
  footer{
    height: auto;
  }
}
@media (max-width: 500px) {
  .navbar-text, .navbar-noicon{
    visibility: hidden;
    position: absolute;
    top: -300px;
  }
  .navbar i{
    margin-left: auto;
  }
  main{
    width: 400px;
  }
  .hovedbilde img{
    width: 400px;
  }
  .bildetekst{
    margin-top: 60px;
    font-size: 22px;
    width: 260px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .produkt2 h1{
    font-size: 16px;
  }
}
