* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border-spacing: 0;
}
html {
  height: auto;
  width: auto;
}
body{
  margin: 0;
  padding: 0;
  top: 0;
  overflow-x: hidden;
  background-image: url("../bilder/bakgrunn.png");
  background-repeat: no-repeat;
  background-color: rgb(10, 10, 10);
}
header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(200, 200, 200);
  margin: 0px;
  text-align: center;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  padding-top: 10px;
}
header h2{
  font-size: 30px;
  margin: 0px 150px;
  padding: 20px 0px;
  border: 2px solid black;
}
.fa-bars{
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 36px;
  cursor: pointer;
  transition: .2s;
}
.fa-bars:hover{
  color: white;
}
.fa-times{
  font-size: 36px;
  color: white;
  z-index: 1;
}
.dropdown{
  position: absolute;
  right: 0;
  top: 0;
  background-color: black;
  padding: 120px 20px 20px 20px;
  width: 250px;
  height: 500px;
  transition: .1s;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
}
.list_item{
  padding: 10px;
}
.list_item a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.list_item a:hover{
  text-decoration: underline;
}

main{
  margin-left: 50px;
  margin-right: 50px;
}
.om_meg{
  display: flex;
  flex-direction: row;
  background-color: rgba(252, 252, 252, 0.95);
  padding: 10px;
  margin-top: 20px;
}
.om_meg_h2{
  width: 800px;
  border-right: 2px solid black;
  padding: 20px;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
}
.om_meg_p{
  padding: 10px;
  font-size: 16px;
  font-family: merriweather;
}
.nettsider{
  margin-top: 50px;
  margin-bottom: 100px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(40, 140, 240, 0.50);
}
.nettside__overskrift{
  width: 100%;
  margin: 20px 150px;
  padding: 20px;
  border: 2px solid rgb(99, 99, 99);
  text-align: center;
  background-color: white;
}
.nettside{
  margin: 10px 20px;
  padding: 10px 20px;
  width: 500px;
  height: ;
  border: 2px solid white;
  text-align: center;
  background-color: rgb(100, 100, 100);
}
.nettside>h2{
  margin: 10px;
}
.nettside__grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.nettside__tekst{
  padding: 10px;
  font-family: merriweather;
  font-size: 14px;
  text-align: left;
}
.nettside__bilde{
  padding: 10px;
  width: 228px;
  height: auto;
}
.nettside__bilde>img{
  width: 100%;
}
.link>h3{
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  transition: 0.2s;
}
.link>h3:hover{
  box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75)
}

.hidden{
  position: absolute;
  visibility: hidden;
  right: -200px;
}
