@media (max-width: 900px){
  header h2{
    padding: 20px 150px 20px 0px;
    margin: 0px 50px 0px 50px;
  }
  .fa-bars{
    right: 80px;
  }
  .nettside__overskrift{
    margin: 20px;
  }
  .om_meg{
    flex-direction: column;
  }
  .om_meg_h2{
    border-right: 0px;
    border-bottom: 2px solid black;
    width: 100%
  }
}
