body{
  text-align: left;
  background-color: lightgray;
}

main{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  margin:auto;
  background-color: white;
  text-align: center;
  padding: 20px;
}

main>a{
  font-size: 20px;
<<<<<<< HEAD
  padding-left: 30px;
  padding-right: 30px
=======
  padding: 30px;
>>>>>>> 67e62ebb0c6ed9485fa3cf9f305219cfdca71c39
  color: black;
}

nav{
  display: grid;
<<<<<<< HEAD
  grid-template-columns: 1fr 1fr 1fr;
=======
  grid-template-columns: 1fr 1fr 1fr 1fr;
>>>>>>> 67e62ebb0c6ed9485fa3cf9f305219cfdca71c39
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-left: 50px;
  text-align: center;
}

nav>a{
  font-size: 15px;
  color: blue;
}

h1{
  text-align: center;
  color: black;
}

h2{
  color: black;
  margin-left: 120px;
  margin-right: 120px;
}

p{
  color: black;
  margin-left: 100px;
  margin-right: 100px;
}

img{
  margin-left: 100px;
  margin-right: 100px;
}
